### Newton's Method

In [78]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [79]:
def print_iterations(it_list):
  df = pd.DataFrame(it_list, columns=['it','p_n']) 
  pd.options.display.float_format = '{:,.9f}'.format
  display(df)

We choose to analyze the function $f(x) = \cos(x) - x$ with $p_0=1/2$, $p_1=\pi/4$

In [80]:
def f(x):
  return np.cos(x) - x

def f_prime(x):
  return -np.sin(x) - 1

In [85]:
def newton(p0,tol=1.0e-6,it_max=100):
  i = 1
  it_list = []
  it_list.append([0,p0])
  while(i <= it_max):
    p = p0 - f(p0)/f_prime(p0)
    if math.fabs(p-p0)/math.fabs(p) < tol:
      return p,it_list
    it_list.append([i,p])      
    i += 1
    p0=p    
  print(("ERROR: Solution not found after {} iterations").format(it_max))
  return p0,it_list

In [86]:
def secant(p0,p1,tol=1.0e-6,it_max=100):
  i=2
  q0=f(p0)
  q1=f(p1)
  it_list = []
  it_list.append([0,p0])
  it_list.append([1,p1])
  while(i <= it_max):
    p = p1-q1*(p1-p0)/(q1-q0)
    if math.fabs(p-p1)/math.fabs(p) < tol:
      return p,it_list
    it_list.append([i,p])      
    i += 1
    p0=p1
    q0=q1
    p1=p
    q1=f(p)    
  print(("ERROR: Solution not found after {} iterations").format(it_max))
  return p0,it_list

In [87]:
def false_position(p0,p1,tol=1.0e-6,it_max=100):
  i=2
  q0=f(p0)
  q1=f(p1)
  it_list = []
  it_list.append([0,p0])
  it_list.append([1,p1])
  while(i <= it_max):
    p = p1-q1*(p1-p0)/(q1-q0)
    if math.fabs(p-p1)/math.fabs(p) < tol:
      return p,it_list
    it_list.append([i,p])      
    i += 1
    q = f(p)
    if q*q1 < 0.0:
        p0=p1
        q0=q1
    p1=p
    q1=q
  print(("ERROR: Solution not found after {} iterations").format(it_max))
  return p0,it_list

In [91]:
# Set the intial approximations
p0=1.0/2.0
p1=math.pi/4.0

p_newton,list_newton = newton(p1,tol=1.0e-15)
print_iterations(list_newton)

   it         p_n
0   0 0.785398163
1   1 0.739536134
2   2 0.739085178
3   3 0.739085133

In [92]:
p_secant,list_secant = secant(p0,p1,tol=1.0e-15)
print_iterations(list_secant)

   it         p_n
0   0 0.500000000
1   1 0.785398163
2   2 0.736384139
3   3 0.739058139
4   4 0.739085149
5   5 0.739085133
6   6 0.739085133

In [93]:
p_falsi,list_falsi = false_position(p0,p1,tol=1.0e-10)
print_iterations(list_falsi)

   it         p_n
0   0 0.500000000
1   1 0.785398163
2   2 0.736384139
3   3 0.739058139
4   4 0.739084864
5   5 0.739085131
6   6 0.739085133